---
# managed by ansible-generator
extends: default

rules:
  line-length:
    max: 180
    allow-non-breakable-words: true
    ignore: |
      defaults/main.yml
    level: warning
  truthy:
    allowed-values: ["true", "false", "on"]

ignore: |
  .cache/
