# PVE Enterprise Subscription Repository

{% if proxmox_pve_enable_enterprise_repository %}
deb [signed-by={{ proxmox_pve_repository_keyring }}] https://enterprise.proxmox.com/debian/pve {{ ansible_facts["distribution_release"] }} pve-enterprise
{% else %}
#deb [signed-by={{ proxmox_pve_repository_keyring }}] https://enterprise.proxmox.com/debian/pve {{ ansible_facts["distribution_release"] }} pve-enterprise
{% endif %}
